[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
requests = "*"
arrow = "*"

[dev-packages]

[requires]
python_version = "3.11"
